@model ShopVM
@{
    ViewData["Title"] = "Index";
}

<main style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 xol-12">
                <section id="product_filter">
                    <div class="row">
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Category</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div id="category" class="filter-control active">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <div class="item">
                                            <label class="checkbox bounce">
                                                @if (item.Id == ViewBag.categoryId)
                                                {
                                                    <input class="checkbox-input" checked type="checkbox" value="@item.Id">
                                                }
                                                else
                                                {
                                                    <input class="checkbox-input" type="checkbox" value="@item.Id">
                                                }

                                                <svg viewBox="0 0 21 21">
                                                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                                </svg>
                                            </label>
                                            <span value="@item.Id">@item.Name</span>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Gender</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div id="gender" class="filter-control active">
                                    @foreach (var item in Model.Genders)
                                    {
                                        <div class="item">
                                            <label class="checkbox bounce">
                                                <input name="category" type="checkbox" value="@item.Id">
                                                <svg viewBox="0 0 21 21">
                                                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                                </svg>
                                            </label>
                                            <span>@item.Name</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Size</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div class="filter-control active">
                                    <div class="sizes" id="product-size">
                                        <div class="row">
                                            @foreach (var size in Model.Sizes)
                                            {
                                                <div class="col-3">
                                                    <div id="@size.Id" class="size">@size.Name</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Price</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div id="price" class="filter-control active">
                                    @foreach (var price in Model.Prices)
                                    {
                                        <div class="item">
                                            <label class="checkbox bounce">
                                                <input type="checkbox" value="@price.Id">
                                                <svg viewBox="0 0 21 21">
                                                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                                </svg>
                                            </label>
                                            @if (price.MaxPrice == null)
                                            {
                                                <span>$@price.MinPrice +</span>
                                            }
                                            @if (price.MaxPrice != null)
                                            {
                                                <span>$@price.MinPrice - $@price.MaxPrice</span>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-8">
                <div class="shop-advertising">
                    <div class="row">
                        <div class="col-12">
                            <img style="width: 100%;"
                                 src="https://i0.wp.com/demo4.drfuri.com/razzi5/wp-content/uploads/sites/20/2020/12/catalog_banner1.jpg?fit=1170%2C511&amp;ssl=1"
                                 alt="">
                        </div>
                    </div>
                </div>

                <section id="products">
                    <div class="row">
                        <div class="col-12">
                            <div class="head-side d-flex justify-content-between">
                                <div class="header">
                                    <h1>Shop</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="product-list">
                                <div class="content">
                                    <div class="row">
                                        <partial name="_ProductsPartialView" model="Model.Products" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <input type="hidden" name="name" id="product-count" value="@ViewBag.ProductCount" />

                <div class="show-more-btn d-flex justify-content-center mt-4">
                    <button id="load-more">Load more</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    <script>
        var genders = $('#gender').find('input[type="checkbox"]');
        var categories = $('#category').find('input[type="checkbox"]');
        var sizes = $('#product-size').find('.size');
        var prices = $('#price').find('input[type="checkbox"]')

        let genderIds = [];
        let categoryIds = [];
        let sizesIds = [];
        let priceIds = [];
        var filters = {
            "genders": genderIds,
            "categories": categoryIds,
            "sizes": sizesIds,
            "prices": priceIds
        };
        
       
        $(genders).click(function ()
        {

            if ($(this).prop("checked") == true) {
                filters.genders.push(parseInt($(this).val()));
                $.ajax(
                    {
                        type: "POST",
                        url: '/Shop/GetProducts',
                        data: JSON.stringify(filters),
                        contentType: 'application/json; charset=utf-8',
                   
                        success: function (res) {
                            $('#product-list').find('.row').html(res);
                        }
                    })
            }
            else if ($(this).prop("checked") == false) {
                var index = filters.genders.map(x => {
                    return x.Id;
                }).indexOf($(this).val());

                filters.genders.splice(index, 1);
                console.log(filters.genders);
                $.ajax(
                {
                    url :"/Shop/GetProducts",
                        type: 'POST',
                        data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',

                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
            
        })
        $(categories).click(function () {
            console.log("ok");
            
            if ($(this).prop("checked") == true) {
                filters.categories.push(parseInt($(this).val()));
                $.ajax({
                    type: "POST",
                    url: '/Shop/GetProducts',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',

                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
            else if ($(this).prop("checked") == false) {
                var index = filters.categories.map(x => {
                    return x.Id;
                }).indexOf($(this).val());
                filters.categories.splice(index, 1);

                $.ajax({
                    url: "/Shop/GetProducts",
                    type: 'POST',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
        })
        $(sizes).click(function () {
            if (!$(this).hasClass('active')) {
                filters.sizes.push(parseInt($(this).attr('id')));
                $.ajax({
                    url: "/Shop/GetProducts",
                    type: 'POST',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
            else {
                var index = filters.sizes.map(x => {
                    return x.Id;
                }).indexOf(parseInt($(this).filter('.active').attr('id')));
                filters.sizes.splice(index, 1);
                $.ajax({
                    url: "/Shop/GetProducts",
                    type: 'POST',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
        })
        $(prices).click(function () {
            if ($(this).prop("checked") == true) {
                filters.prices.push(parseInt($(this).val()));
                $.ajax({
                    type: "POST",
                    url: '/Shop/GetProducts',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',

                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
            else if ($(this).prop("checked") == false) {
                var index = filters.prices.map(x => {
                    return x.Id;
                }).indexOf($(this).val());
                filters.prices.splice(index, 1);

                $.ajax({
                    url: "/Shop/GetProducts",
                    type: 'POST',
                    data: JSON.stringify(filters),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            }
        })



        $('#load-more').click(function () {
            let parent = $('#product-list').find('.row')
            let count = $("#product-list").find('.col-3').length
            let productCountDb = $("#product-count").val()
            $.ajax({
                url: "/Shop/LoadMore",
                type: "POST",
                data: {
                    skip: count,
                    take: 4
                },
                success: function (res) {
                    parent.append(res)
                    count = $("#product-list").find('.col-3').length
                    if (count == productCountDb) {
                        $("#load-more").hide();
                    } else {
                        $("#load-more").show();
                    }
                }
            })
        })
    </script>

    <script>
        $('#btnSearch').click(function (e) {
            e.preventDefault();
            $.ajax(
                {
                    type: "GET",
                    url: "@Url.Action("Search", "Shop")",
                    data: { searchString: $('#search-text').val()},
                    success: function (res) {
                        $('#product-list').find('.row').html(res);
                    }
                })
            closeSearchNav();
        });

    </script>
}