@model ShopVM
@{
    ViewData["Title"] = "Index";
}

<main style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 xol-12">
                <section id="product_filter">
                    <div class="row">
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Category</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div id="category" class="filter-control active">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <div class="item">
                                            <label class="checkbox bounce">
                                                <input class="checkbox-input" type="checkbox" value="@item.Id">
                                                <svg viewBox="0 0 21 21">
                                                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                                </svg>
                                            </label>
                                            <span value="@item.Id">@item.Name</span>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Gender</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div id="gender" class="filter-control active">
                                    @foreach (var item in Model.Genders)
                                    {
                                        <div class="item">
                                            <label class="checkbox bounce">
                                                <input name="category" type="checkbox" value="@item.Id">
                                                <svg viewBox="0 0 21 21">
                                                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                                </svg>
                                            </label>
                                            <span>@item.Name</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Size</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div class="filter-control active">
                                    <div class="sizes" id="product-size">
                                        <div class="row">
                                            @foreach (var size in Model.Sizes)
                                            {
                                                <div class="col-3">
                                                    <div id="@size.Id" class="size">@size.Name</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-4">
                            <div class="product-filter">
                                <div class="head">
                                    <span>Price</span>
                                    <span class="open-btn"><i class='fas fa-angle-down'></i></span>
                                </div>
                                <div class="filter-control active">
                                    <div class="item">
                                        <label class="checkbox bounce">
                                            <input type="checkbox">
                                            <svg viewBox="0 0 21 21">
                                                <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                            </svg>
                                        </label>
                                        <span>$10.00 - $49.00</span>
                                    </div>
                                    <div class="item">
                                        <label class="checkbox bounce">
                                            <input type="checkbox">
                                            <svg viewBox="0 0 21 21">
                                                <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                            </svg>
                                        </label>
                                        <span>$50.00 - $99.00</span>
                                    </div>
                                    <div class="item">
                                        <label class="checkbox bounce">
                                            <input type="checkbox">
                                            <svg viewBox="0 0 21 21">
                                                <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                            </svg>
                                        </label>
                                        <span>$100.00 - $199.00</span>
                                    </div>
                                    <div class="item">
                                        <label class="checkbox bounce">
                                            <input type="checkbox">
                                            <svg viewBox="0 0 21 21">
                                                <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                            </svg>
                                        </label>
                                        <span>$200.00 +</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-8">
                <div class="shop-advertising">
                    <div class="row">
                        <div class="col-12">
                            <img style="width: 100%;"
                                 src="https://i0.wp.com/demo4.drfuri.com/razzi5/wp-content/uploads/sites/20/2020/12/catalog_banner1.jpg?fit=1170%2C511&amp;ssl=1"
                                 alt="">
                        </div>
                    </div>
                </div>

                <section id="products">
                    <div class="row">
                        <div class="col-12">
                            <div class="head-side d-flex justify-content-between">
                                <div class="header">
                                    <h1>Shop</h1>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Default sorting
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Sort by price: low to high</a></li>
                                        <li><a class="dropdown-item" href="#">Sort by price: high to low</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="product-list">
                                <partial name="_ProductsPartialView" model="Model.Products" />
                            </div>
                        </div>
                    </div>
                </section>
                <input type="hidden" name="name" id="product-count" value="@ViewBag.ProductCount" />

                <div class="show-more-btn d-flex justify-content-center mt-4">
                    <button id="load-more">Load more</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    <script>
        var genders = $('#gender').find('input[type="checkbox"]');
        var categories = $('#category').find('input[type="checkbox"]');
        var sizes = $('#product-size').find('.size');

        let gens = [];
       
        $(genders).click(function ()
        {

            if ($(this).prop("checked") == true) {
                gens.push(parseInt($(this).val()));

                $.ajax(
                    {
                        type: "GET",
                        url: '/Shop/GetProducts',
                        data: $.param({ genderId: gens }, true),
                        contentType: 'application/json; charset=utf-8',
                   
                        success: function (res) {
                            $('#product-list').html(res);
                        }
                    })
            }
            else if ($(this).prop("checked") == false) {
                var id = 2;
                var index = gens.map(x => {
                    return x.Id;
                }).indexOf(id);

                gens.splice(index, 1);
                console.log(gens);
                $.ajax(
                {
                    url :"/Shop/GetProducts",
                    type: 'GET',
                    data: $.param({ genderId: gens }, true),
                    contentType: 'application/json; charset=utf-8',

                    success: function (res) {
                        $('#product-list').html(res);
                    }
                })
            }
            
        })
        $(categories).click(function () {
            console.log("ok");
            gens.push(parseInt($(this).val()));
            if ($(this).prop("checked") == true) {
                $.ajax({
                    type: "GET",
                    url: '/Shop/GetProducts',
                    data: $.param({ categoryId: gens }, true),
                    contentType: 'application/json; charset=utf-8',

                    success: function (res) {
                        $('#product-list').html(res);
                    }
                })
            }
            else if ($(this).prop("checked") == false) {
                var id = 2;
                var index = gens.map(x => {
                    return x.Id;
                }).indexOf(id);

                $.ajax({
                    url: "/Shop/GetProducts",
                    type: 'GET',
                    data: {
                        categoryId: null
                    },
                    success: function (res) {
                        $('#product-list').html(res);
                    }
                })
            }
        })
        $("#product-size").find('.size').click(function () {
            if (!$(this).hasClass('active')) {
                $.ajax({
                    url: "https://localhost:44331/Shop/GetProducts",
                    type: 'GET',
                    data: {
                        sizeId: $(this).attr("id")
                    },
                    success: function (res) {
                        $('#product-list').html(res);
                    }
                })
            }
            else {
                $.ajax({
                    url: "https://localhost:44331/Shop/GetProducts",
                    type: 'GET',
                    data: {
                        sizeId: null
                    },
                    success: function (res) {
                        $('#product-list').html(res);
                    }
                })
            }
        })


        $('#load-more').click(function () {
            let parent = $('#product-list')
            let count = $("#product-list").find('.col-3').length
            let productCountDb = $("#product-count").val()
            $.ajax({
                url: "/Shop/LoadMore",
                type: "GET",
                data: {
                    skip: count
                },
                success: function (res) {
                    parent.append(res)
                    
                    count = $("#product-list").find('.col-3').length
                    if (count == productCountDb) {
                        $("#load-more").remove();
                    }
                }
            })
        })
    </script>
}