@model ICollection<Product>


@foreach (var product in Model)
{
    <div class="col-3">
        <div class="product">
            <div class="img">
                <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@product.Id">
                    <img src="~/assets/img/product/@product.Image"
                         alt="">
                </a>
            </div>
            <div class="name">
                <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>

            </div>
            <span class="price">$@product.RealPrice</span>
        </div>
    </div>
}

@*<div class="pagniate">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="item @(Model.HasPrevious ? "": "disabled")">
                    <a class="link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)"><i class="fas fa-angle-left"></i></a>
                </li>
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="item @(Model.CurrentPage==i ? "active": "")">
                        <a class="link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="item @(Model.HasNext ? "": "disabled")">
                    <a class="link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)"><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>*@